/* INSTALL FONT  */
@font-face {
    font-family: 'whoopassregular';
    src: url('whoopass-webfont.woff2') format('woff2'),
    url('whoopass-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* APPLY FONT TO BODY  */
body{
    overflow-x: hidden;
    font-family: 'whoopassregular';
    width: 1920px;
    height: 1080px;
}
/* GAME WRAPPER  */

.wrapper {
    width: 1920px;
    height: 952px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
/* WELCOME HEADING STYLE  */
h1{
    color: white;
    font-size: 5rem;
    position: relative;
    text-align: center;
    -webkit-text-stroke: 2px black
}
#n-0 {
    font-size: 90px;
}
#s-0{
    font-size: 70px;
}
.player-0-box {
    background-image: url("player_1`.jpg");
    background-size: 600px 750px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    float: left;
    height: 750px;
    color: white;
    -webkit-text-stroke: 2px black;
    border-style: solid;
    border-color: black;
    text-align: center;
}
/* PLAYER 2 DETAILS  */
#n-1 {
    font-size: 90px;
}
#s-1{
    font-size: 70px;
}
.player-1-box {
    background-image: url("player_2.jpg");
    background-size: 600px 750px;
    display: flex;
    flex-direction: column;
    margin: left;
    float: right;
    width: 600px;
    height: 750px;
    -webkit-text-stroke: 2px white;
    border-style: solid;
    border-color: black;
    text-align: center;
}
/* PLAYER 1&2 DETAILS  */
.player-current-label{
    font-size: 80px;
}
.player-current-score{
    font-size: 70px;
}
/* BUTTON FONT & COLOUR  */
button{
    font-family: 'whoopassregular';
}
.placeholder{
    font-family: 'whoopassregular';
}
.final-score{
    font-family: 'whoopassregular';
    color: black;
}
/* NEW GAME BUTTON  */
button{
    font-size: 30px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    position: relative;
    margin: auto;
    padding: 10px;
    width:708px;
    height: 100px;
    text-align: center;
}
.final-score{
    font-size: 30px;
    border-style: solid;
    border-color: black;
    border-width: 5px 5px 10px 5px;
    position: relative;
    margin: auto;
    padding: 10px;
    width: 678px;
    height: 70px;
    text-align: center;
}
button {
    cursor: pointer;
}
img{
    position: relative;
left:170px;
}

/* 
@media only screen and (max-width:1920px) {  
.player-0-box {
    background-size: 500px 750px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    
    height: 750px;
    color: white;
}
    .player-1-box {
    background-size: 500px 750px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    height: 750px;
    color: white;   
}
button{
    font-size: 30px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    position: relative;
    margin: auto;
    padding: 10px;
    width:500px;
    height: 100px;
    text-align: center;
}
.final-score{
    font-size: 30px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    position: relative;
    margin: auto;
    padding: 10px;
    width: 662px;
    height: 70px;
    text-align: center;
}
} */